<nav class="navbar navbar-expand-lg navbar-light bg" style="color: white" >
    <a class="navbar-brand" style="color: white"  href="#">Auto Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a style="color: white"  class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <h1 style="text-align: center">Clients Database</h1>
  <div class="change">
      <div  class="menu">
<a  href="#!addClient" type="button"><img src="images/add.png"></a>
<a type="button"><img src="images/edit.png"></a>
<a  type="button"><img src="images/delete.png"></a>

      </div>

  </div>
  <div class="table-responsive ">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark" style="text-align: center">
          <tr>
              <th></th>
            <th>#</th>
            <th>PIP</th>
            <th>Car</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Master</th>
            
            <th>Date</th>

          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center">
              <td><input type="checkbox" name="choose" id=""></td>
            <td>1</td>
            <td>Kondrya Lyuba</td>
            <td style="text-align: center"><a  href="#!car" class="btn btn-outline-success">Open</a></td>
            <td style="text-align: center"><a  href="#!description" class="btn btn-outline-success">Open</a></td>
            <td>699878547</td>
            <td>Levandovskyy Volodymyr</td>
            
            <td>14.09.2018</td>
            
          </tr>
        </tbody>
      </table>
     


