<div class="login_main" ng-show="!form">

    <div class="login_form">
        <h2 style="text-align:center">
            <b>Welcome</b>
        </h2>
        <div class="row">
            <div class="col-sm-3" style="text-align: right">
                <p> Login: </p>
                <p> Password: </p>
            </div>
            <div class="col-sm-3">
                <input ng-model="data.login" type="email" placeholder="email">
                <input ng-model="data.password" style="margin-top: 5px" type="password" placeholder="password">
            </div>
        </div>
        <p style="text-align: center">
            <input type="checkbox" name="remember" id=""> Remember me</p>
        <p style="text-align: center">
            <a ng-click="logIn()" class="btn btn-primary btn-sm">Log in</a>
            <a href="#!signin" class="btn btn-primary btn-sm">Sign in</a>
            <a href="#!allClient" class="btn btn-primary btn-sm">test</a>
        </p>

    </div>

</div>