<div ng-controller="signinController">
        <div class="signin_main">
                <input ng-model="userData.name"/>
                name </br> 
                <input ng-model="userData.surname"/>
                surname </br>
                <input ng-model="userData.login"/>
                login </br>
                <input ng-model="userData.password"/>
                password </br>
                <a  ng-click="addUser()" class="btn btn-primary">Save</a>
                <a  ng-click="getUser()" class="btn btn-primary">Get</a>
        </div>    
</div>
