<div ng-controller="signinController">
        <div class="login_main" ng-show="!form">
                <div class="login_form">
                        <h2 style="text-align:center">
                                <b>Registration</b>
                        </h2>
                        <div class="row">
                                <div class="col-sm-5" style="text-align: right">
                                        <p> Name: </p>
                                        <p> Surname: </p>
                                        <p> Email: </p>
                                        <p> Login: </p>
                                        <p> Password: </p>
                                </div>
                                <div class="col-sm-5">
                                        <input type="text" ng-model="userData.name" placeholder="name" />
                                        <input style="margin-top: 10px" type="text" ng-model="userData.surname" placeholder="surname" />
                                        <input style="margin-top: 10px" type="email" ng-model="userData.email" placeholder="email" />
                                        <input style="margin-top: 10px" type="text" ng-model="userData.login" placeholder="login" />
                                        <input style="margin-top: 10px" type="password" placeholder="password" ng-model="userData.password" />
                                </div>
                        </div>
                        <p style="text-align: center">
                                <input type="checkbox" name="remember" id="">Remember me</p>

                        <p style="text-align: center">
                                <a href="#!signin" ng-click="addUser()" class="btn btn-primary ">Enter</a>
                        </p>

                </div>

        </div>
        <button ng-click="aa()" class="btn btn-outline-success">okey</button>
</div>
