<div class="registration" >
        <div class="container">
                <h1 style="text-align: center;" >Registration</h1>                
                <div class="container" style="padding-top: 15px">     
                  <div class="row">
                    <div class="col-sm-6" style="text-align: right;padding-right: 20px">
                            <p> Your login:  </p>
                            <p> Your password:  </p>
                    </div>
                    <div class="col-sm-6">
                            <input type="text" placeholder="login">
                            <input type="password" placeholder="password">
                    </div>
                  </div>
                </div>
                <p style="text-align: center"><input  type="checkbox" name="remember" id="">   Remember me</p>
              </div>

    <p><a  href="#!registration" class="btn btn-primary button">Log in</a></p>
</div>
